@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
}

#root, body {
    margin: 2rem;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Font */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.75rem;
}

/* grid */
#root, .grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.grid-col-1 {
    grid-column: span 1;
}

.grid-col-2 {
    grid-column: span 2;
}

.grid-col-3 {
  grid-column: span 3;
}

.grid-col-4 {
    grid-column: span 4;
}

.grid-col-5 {
    grid-column: span 5;
}

.grid-col-6 {
    grid-column: span 6;
}

.grid-col-12 {
    grid-column: span 12;
}

/* flex */
.flex-container {
    display: flex;
    gap: 1rem;
}

.flex-container .flex-col {
    flex-direction: column;
}

.flex-container .justify-center {
    justify-content: center;
}

/* Section 내 Link */
.section a:hover {
    font-size: 1rem;
    transform: scale(1.1);
    transition: .5s;
}