@use '../mixin';

.container {
  width: 100%;
  height: 100%;
  @include mixin.flex-container(column, center, center);
}

.header,
.contents,
.footer {
  width: 100%;
  align-items: center;
}

.header {
  height: 50px;
}

.contents {
  height: calc(100% - 150px);
}

.footer {
  height: 100px;
}