.select {
  display: flex;
  flex-direction: column;
  position: relative;
}

.select-btn {
  width: 200px;
  height: 50px;
  background: none;
  text-align: center;

  span:last-child {
    padding: 0 .5rem;
    vertical-align: middle;
  }
}

// Todo 슬라이드 애니메이션 적용이 안되는 문제
.select-menu {
  width: 200px;
  margin-top: 10px;
  border: 1px solid #333;
  border-radius: 10px;

  // 드롭다운 애니메이션 설정
  position: absolute;
  top: 60px; // 버튼 하단에 위치하도록 설정
  transform: scaleY(0); // 초기 상태에서는 보이지 않도록 설정
  transform-origin: top; // 위에서 아래로 열리게 설정
  transition: transform 1s ease; // 트랜지션 효과 적용
  overflow: hidden;   // 애니메이션 중간에 요소가 잘리지 않도록 설정

  .select-item {
    width: 100%;

    button {
      width: 100%;
      height: 50px;
      border: none;
      background: none;
    }

    button:hover {
      background: #bbb7b7;
      cursor: pointer;
    }

    /**
     * 컨테이너 클래스의 border-radius 속성으로 첫 요소와 마지막 요소의
     * 상단 하단 테두리만 조정
     */
    &:first-child button {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-child button {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.open {
  transform: scaleY(1); // 셀렉트 오픈시 보이도록 설정
}