.navbar {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    font-size: 1.5rem;
    color: #333;
}

.navbar a:hover {
    font-size: 1.7rem;
    transition: 1s;
}