.aside-bar {
  width: 250px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  /* 가상 클래스가 밖으로 안나가도록 설정 */
  overflow: hidden;
}

.aside-bar-header {
  margin-bottom: 1rem;
}

.aside-bar-nav ul {
  list-style-type: none;
  padding: 0;

  li {
    height: 40px;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }
  }
}

/* Active Event */
.active {
  border-bottom: 1px solid #333;
}