// PC, Tablet
.glb {
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Test
  border: 1px solid #ddd5d5;
}

.glb-list {
  display: flex;
}

.glb-item {
  margin: 0 1rem;

  /* SVG 이미지 세로 중앙 정렬 */
  svg {
    vertical-align: middle;
  }

  a {
    color: #333;
  }
}

.hamburger {
  display: none;
}

// Mobile
@media screen and (max-width: 768px) {
  // 로고 박스
  .logo-wrapper {
    display: flex;
    align-items: center;

    svg {
      vertical-align: middle;
    }
  }

  .glb-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 1s ease, opacity 1s ease;
  }

  .glb-item {
    margin: 1rem 0;
  }

  // 햄버거 메뉴
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .glb-list .glb-item {
    /* 기본값으로 숨기기 */
    display: none;
  }

  .glb-list.active .glb-item {
    /* active 클래스가 있을 때 아이템 표시 */
    display: block;
  }

  /* 클릭 상태 활성화 시 */
  .glb-list.glb-active .glb-item {
    display: block;
  }

  .glb-list.glb-active {
    max-height: 500px; /* 충분히 큰 값으로 설정 */
    opacity: 1;
  }
}