// PC, Tablet
.glb {
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Test
  border: 1px solid #ddd5d5;
}

.glb-list {
  display: flex;
}

.glb-item {
  margin: 0 1rem;

  /* SVG 이미지 세로 중앙 정렬 */
  svg {
    vertical-align: middle;
  }

  a {
    color: #333;
  }
}

.hamburger {
  display: none;
}

// Mobile
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .glb-list .glb-item {
    /* 기본값으로 숨기기 */
    display: none;
  }

  .glb-list.active .glb-item {
    /* active 클래스가 있을 때 아이템 표시 */
    display: block;
  }

  /* 클릭 상태 활성화 시 */
  .glb-list.glb-active .glb-item {
    display: block;
  }

  .glb-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .glb-item {
    margin: 1rem 0;
  }
}