.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-container {
  width: 768px;
  height: 300px;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.info-wrapper {
  width: 200px;
  padding: 2rem;
  margin-right: -125px;
  border: 1px solid #333;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-50px);
}

.info-wrapper.hovered {
  transform: scale(1.5) !important; /* 호버 시 카드 확대 */
  transition: 0.5s;
  z-index: 10 !important; /* 호버 시 최상단에 위치 */
  cursor: pointer;
}

.icon-wrapper {
  svg {
    width: 100%;
    height: 70px;
  }
}

.user-name,
.user-email {
  text-align: center;

  // 넘치는 텍스트는 ... 으로 표시
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-email small {
  width: 100px;
}